body {
	background-color: rgba(196, 240, 255, 0.55);
}

.main {
	color: #11118B;
}

.intro {
	font-size: 40pt;
	margin-top: 20px;
}

.book {
	margin-bottom: 20px;
	font-size: 18pt;
}

/* colors signify rating */
.color5 { color: #BD33A4; }
.color4 { color: #720B98; }
.color3 { color: #525abd; }
.color2 { color: #525abd; }
.color1 { color: #525abd; }

.social img {
	max-height: 48px;
}

.social {
	margin-bottom: 50px;
}